name: Test code and coverage

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  modern:
    uses: ./.github/workflows/python-test.yml
    with:
      runner: ubuntu-latest
      python-versions: '["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]'
    secrets: inherit

  legacy:
    uses: ./.github/workflows/python-test.yml
    with:
      runner: ubuntu-20.04
      python-versions: '["3.6", "3.7"]'
    secrets: inherit
